<% unless @team.errors.empty? %>
  <ul class="govuk-list govuk-list--bullet">
    <% @team.errors.full_messages.each do |message| %>
      <li><span class="govuk-error-message"><%= message %></span></li>
    <% end %>
  </ul>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="govuk-form-group">
      <%= label_tag :name, class: 'govuk-label' do %>
        Team name
      <% end %>
      <%= text_field_tag :name, @team.name, class: 'govuk-input' %>
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="sort">
      </label>
      <%= label_tag :org_unit, class: 'govuk-label' do %>
        Organisational unit
      <% end %>
      <%= select_tag :org_unit_id,
        options_from_collection_for_select(@org_units, :id, :name, @team.org_unit_id),
        include_blank: true,
        class: 'govuk-select'
      %>
    </div>
    <div class="govuk-form-group">
      <%= label_tag :description, class: 'govuk-label' do %>
        Description
      <% end %>
      <%= text_area_tag :description, @team.description, rows: 5, class: 'govuk-textarea' %>
    </div>
  </div>
</div>
