<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to '/', class: 'govuk-breadcrumbs__link' do %>Home<% end %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to teams_path, class: 'govuk-breadcrumbs__link' do %>
        Teams
      <% end %>
    </li>
  </ol>
</div>

<h1 class="govuk-heading-xl">Teams</h1>

<div>
  <%= link_to new_team_path, class: 'govuk-button' do %>
    New team
  <% end %>
</div>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Team</th>
      <th class="govuk-table__header">Calendar count</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @teams.each do |team| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <%= link_to team_path(team), class: 'govuk-link' do %>
            <%= team.name %>
          <% end %>
        </td>
        <td class="govuk-table__cell">
          <%= team.calendars.length %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
