<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to '/', class: 'govuk-breadcrumbs__link' do %>Home<% end %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to teams_path, class: 'govuk-breadcrumbs__link' do %>
        Teams
      <% end %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to new_team_path, class: 'govuk-breadcrumbs__link' do %>
        New team
      <% end %>
    </li>
  </ol>
</div>

<h1 class="govuk-heading-xl">
  New team
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <%= form_tag action: :create, method: :post do %>
      <div class="govuk-form-group">
        <%= label_tag :name, class: 'govuk-label' do %>
          Team name
        <% end %>
        <%= text_field_tag :name, '', class: 'govuk-input' %>
      </div>
    <% end %>

    <div class="govuk-form-group">
      <%= submit_tag 'Create team', class: 'govuk-button' %>
    </div>
  </div>
</div>
