<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to '/', class: 'govuk-breadcrumbs__link' do %>Home<% end %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to teams_path, class: 'govuk-breadcrumbs__link' do %>
        Teams
      <% end %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to team_path(@team), class: 'govuk-breadcrumbs__link' do %>
        <%= @team.name %>
      <% end %>
    </li>
  </ol>
</div>

<h1 class="govuk-heading-xl">
  <%= @team.name %>
</h1>

<p class="govuk-body">
  <% if @team.org_unit.nil? %>
    <% @team.name %> is not associated with an organisional unit.
  <% else %>
    <% @team.name %> is part of
    <%= link_to org_unit_path(@team.org_unit), class: 'govuk-link' do %>
      <%= @team.org_unit.name %>
    <% end %>.
  <% end %>
</p>

<% unless @team.description.blank? %>
  <%= @desc.html_safe %>
<% end %>

<div>
  <%= link_to new_calendar_path(team_id: @team.id), class: 'govuk-button' do %>
    New calendar
  <% end %>
  <%= link_to team_conflicts_path(@team), class: 'govuk-button' do %>
    View conflicts
  <% end %>
  <%= link_to edit_team_path(@team), class: 'govuk-button' do %>
    Edit team
  <% end %>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-l">Calendars</h2>
    <ul class="govuk-list govuk-list--bullet">
      <% @team.calendars.each do |calendar| %>
        <li>
          <%= link_to calendar_path(calendar), class: 'govuk-link' do %>
            <%= calendar.name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-l">Services</h2>
    <ul class="govuk-list govuk-list--bullet">
      <% @team.services.each do |service| %>
        <li>
          <%= link_to service_path(service), class: 'govuk-link' do %>
            <%= service.name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-l">Team members</h2>
      <ul class="govuk-list govuk-list--bullet">
        <% @team_members.sort.each do |email| %>
          <li>
            <%= link_to user_path(email), class: 'govuk-link' do %>
              <%= email_fmt(email) %>
            <% end %>
          </li>
        <% end %>
      </ul>
  </div>
</div>

<div>
  <h2 class="govuk-heading-l">Schedule</h2>
  <div>
    <%= link_to url_for(all: true), class: 'govuk-button' do %>
      View historical events
    <% end %>
  </div>
  <table class="govuk-table <%= @team.calendars.length > 3 ? 'govuk-table--small' : '' %> ">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Date</th>
        <% @team.calendars.each do |team| %>
          <th class="govuk-table__header"><%= team.name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @events_by_calendar.each do |date, calendars_and_events| %>
        <tr class="govuk-table__row">
          <th class="govuk-table__header">
            <%= date.strftime '%Y %b %d' %>
          </th>
          <% @team.calendars.each do |team| %>
            <td class="govuk-table__cell">
              <% calendars_and_events.fetch(team, []).map { |e| e.email }.each_with_index do |email, index| %>
                <% unless index.zero? %><br><% end %>
                <%= link_to user_path(email), class: 'govuk-link' do %>
                  <%= email_fmt(email) %>
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
