<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to '/', class: 'govuk-breadcrumbs__link' do %>Home<% end %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to services_path, class: 'govuk-breadcrumbs__link' do %>
        Services
      <% end %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to service_path(@service), class: 'govuk-breadcrumbs__link' do %>
        <%= @service.name %>
      <% end %>
    </li>
  </ol>
</div>

<h1 class="govuk-heading-xl">
  <%= @service.name %>
</h1>

<p class="govuk-body">Score: <%= @service.score %></p>

<% unless @service.description.blank? %>
  <%= @description.html_safe %>
<% end %>

<% unless @service.documentation.blank? %>
  <%= @documentation.html_safe %>
<% end %>

<div>
  <%= link_to edit_service_path(@service), class: 'govuk-button' do %>
    Edit service
  <% end %>
</div>
