<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to '/', class: 'govuk-breadcrumbs__link' do %>Home<% end %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to services_path, class: 'govuk-breadcrumbs__link' do %>
        Services
      <% end %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to service_path(@service), class: 'govuk-breadcrumbs__link' do %>
        <%= @service.name %>
      <% end %>
    </li>
  </ol>
</div>

<h1 class="govuk-heading-xl">
  <%= @service.name %>
</h1>

<div>
  <%= link_to edit_service_path(@service), class: 'govuk-button' do %>
    Edit service
  <% end %>
</div>

<% if @service.teams.empty? %>
  <p class="govuk-body">
    <%= @service.name %> is not associated with any teams
  </p>
<% else %>
  <p class="govuk-body">
    <%= @service.name %> is associated with:
    <% @service.teams.each do |team| %>
      <%= link_to team_path(team), class: 'govuk-link' do %>
        <%= team.name %>
      <% end %><%= ',' unless team == @service.teams.last %>
    <% end %>
  </p>
<% end %>

<% if @service.description.blank? %>
  <p class="govuk-body"><%= @service.name %> has no description</p>
<% else %>
  <%= @description.html_safe %>
<% end %>

<% if @service.documentation.blank? %>
  <p class="govuk-body"><%= @service.name %> has no documentation</p>
<% else %>
  <%= @documentation.html_safe %>
<% end %>
