<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to '/', class: 'govuk-breadcrumbs__link' do %>Home<% end %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to teams_path, class: 'govuk-breadcrumbs__link' do %>
        Teams
      <% end %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to team_path(@calendar.team), class: 'govuk-breadcrumbs__link' do %>
        <%= @calendar.team.name %>
      <% end %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to calendar_path(@calendar), class: 'govuk-breadcrumbs__link' do %>
        <%= @calendar.name %>
      <% end %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to manual_calendar_events_path(@calendar), class: 'govuk-breadcrumbs__link' do %>
        Events
      <% end %>
    </li>
  </ol>
</div>

<h1 class="govuk-heading-xl">
  Events
</h1>

<div>
  <%= link_to new_manual_calendar_event_path(@calendar.id), class: 'govuk-button' do %>
    Add new event
  <% end %>
</div>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Start date</th>
      <th class="govuk-table__header">End date</th>
      <th class="govuk-table__header">Duration</th>
      <th class="govuk-table__header">People</th>
      <th class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @events.each do |event| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <%= event.start_date %>
        </td>
        <td class="govuk-table__cell">
          <%= event.end_date %>
        </td>
        <td class="govuk-table__cell">
          <%= (event.end_date - event.start_date).to_i %> days
        </td>
        <td class="govuk-table__cell">
          <% event.emails.each_with_index do |email, index| %>
            <% unless index.zero? %><br><%end %>
            <%= gds_email_fmt(email) %>
          <% end %>
        </td>
        <td class="govuk-table__cell">
          <%= link_to edit_manual_calendar_event_path(@calendar.id, event.id), class: 'govuk-button' do %>
            Edit
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
