<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to '/', class: 'govuk-breadcrumbs__link' do %>Home<% end %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Users
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to user_path(@email), class: 'govuk-breadcrumbs__link' do %>
        <%= @email %>
      <% end %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to user_contact_information_path(@email), class: 'govuk-breadcrumbs__link' do %>
        Contact information
      <% end %>
    </li>
  </ol>
</div>

<h1 class="govuk-heading-l">
  Contact details for <%= email_fmt(@email) %>
</h1>

<p class="govuk-body">
  This has been logged in the audit log.
</p>

<% if @contact_details.nil? || @contact_details.empty? %>
  <p class="govuk-body">
  There are no contact details in PagerDuty for <%= name_fmt(@email) %>.
  </p>
<% else %>
  <table class="govuk-summary-list">
    <tbody class="govuk-table__body">
      <% @contact_details.each do |detail| %>
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-width-one-quarter">
            <%= detail['type'].split('_').first.capitalize.gsub(/sms/i, 'SMS') %>
          </th>
          <td class="govuk-table__cell govuk-!-width-one-quarter">
            <%= detail['label'] %>
          </td>
          <td class="govuk-table__cell govuk-!-width-one-half">
            <% if detail['type'].match?(/sms|phone/i) %>
              <%= link_to "tel:#{detail['country_code']}#{detail['address']}",
                          class: 'govuk-link' do %>
                +<%= detail['country_code'] %>
                <%= detail['address'] %>
              <% end %>
            <% end %>
            <% if detail['type'].match?(/email/i) %>
              <%= link_to "mailto:#{detail['address']}", class: 'govuk-link' do %>
                <%= detail['address'] %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
