<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to '/', class: 'govuk-breadcrumbs__link' do %>Home<% end %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Users
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to user_path(@email), class: 'govuk-breadcrumbs__link' do %>
        <%= @email %>
      <% end %>
    </li>
  </ol>
</div>

<h1 class="govuk-heading-l">
  Personal on-call timetable
</h1>

<% unless @on_call_calendars_by_date.empty? %>
  <% if @days_until_on_call > 0 %>
    <p class="govuk-body">
      Next on-call date for
      <%= email_fmt(@email) %>
      is in
      <%= @days_until_on_call.to_i %> days
      on
      <%= @next_on_call_date.strftime '%d %b %Y' %>.
    </p>
  <% else %>
    <p class="govuk-body">
      <%= email_fmt(@email) %>
      <%= current_user_is_email(@email) ? 'are' : 'is' %>
      currently on call.
    </p>
  <% end %>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  📅
  <%= link_to @icalendar_url, class: 'govuk-link' do %>
    Google Calendar
  <% end %>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <p class="govuk-body">
    <%= email_fmt(@email) %>
    <%= current_user_is_email(@email) ? 'are' : 'is' %>
    on-call for the following dates:
  </p>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Date</th>
        <th class="govuk-table__header">Team</th>
        <th class="govuk-table__header">Calendar</th>
        <th class="govuk-table__header">Status</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% (@earliest..@latest).each do |date| %>
        <% if @on_call_calendars_by_date.key? date %>
          <% @on_call_calendars_by_date.fetch(date).each_with_index do |calendar, index| %>
            <tr class="govuk-table__row">
              <% if index.zero? %>
                <th rowspan="<%= @on_call_calendars_by_date.fetch(date).length %>" class="govuk-table__header">
                  <%= date.strftime '%Y %b %d' %>
                </th>
              <% end %>
              <td class="govuk-table__cell">
                <%= link_to team_path(calendar.team), class: 'govuk-link' do %>
                  <%= calendar.team.name %>
                <% end %>
              </td>
              <td class="govuk-table__cell">
                <%= link_to calendar_path(calendar), class: 'govuk-link' do %>
                  <%= calendar.name %>
                <% end %>
              </td>
              <td class="govuk-table__cell">
                <% if @annual_leave.key? date %>
                  🔥
                  <%= link_to edit_annual_leave_event_path(@annual_leave[date]), class: 'govuk-link' do %>
                    Annual leave
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <%= date.strftime '%Y %b %d' %>
            </td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell">
              <% if @annual_leave.include? date %>
                💤
                <%= link_to edit_annual_leave_event_path(@annual_leave[date]), class: 'govuk-link' do %>
                  Annual leave
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="govuk-body">
    <%= email_fmt(@email) %>
    <%= current_user_is_email(@email) ? 'are' : 'is' %>
    not on-call in the foreseeable future.
  </p>
<% end %>
