<h1 class="govuk-heading-xl">
  Useful links
</h1>

<ul class="govuk-list govuk-list--bullet">
  <li>
    <a class="govuk-link"
       href="https://governmentdigitalservice.pagerduty.com">
      PagerDuty
    </a>
  </li>
  <li>
    <a class="govuk-link"
       href="https://docs.google.com/forms/d/e/1FAIpQLSd8DX3B0L6az_aHEfWBegK5ABIPhfARgQZ0OpdEW9bIhMk5Fg/viewform">
      On-call payment submission form
    </a>
  </li>
</ul>

<h1 class="govuk-heading-xl">
  Currently on rotas
</h1>

<% @team_rotas.sort_by { |t, _| t.name }.each do |team, events| %>
  <div>
    <h2 class="govuk-heading-l">
      <%= link_to team_path(team), class: 'govuk-link' do %>
        <%= team.name %>
      <% end %>
    </h2>
    <% if events.empty? %>
      <p class="govuk-body">
        There is currently no one on a rota for <%= team.name %>
      </p>
    <% else %>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" style="width: 50%;">Calendar</th>
            <th class="govuk-table__header">People</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% events.group_by(&:calendar).each do |calendar, pdevents| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <%= link_to calendar_path(calendar), class: 'govuk-link' do %>
                  <%= calendar.name %>
                <% end %>
              </td>
              <td class="govuk-table__cell">
                <% pdevents.each_with_index do |event, index| %>
                  <% unless index.zero? %><br><% end %>
                  <%= link_to user_path(event.email), class: 'govuk-link' do %>
                    <%= email_fmt(event.email) %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  <% end %>
  </div>
<% end %>
