<% unless @event.errors.empty? %>
  <ul class="govuk-list govuk-list--bullet">
    <% @event.errors.full_messages.each do |message| %>
      <li><span class="govuk-error-message"><%= message %></span></li>
    <% end %>
  </ul>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <div class="govuk-form-group">
      <%= label_tag :start_date, class: 'govuk-label' do %>
        Start date
      <% end %>
      <%= date_field_tag :start_date, @event.start_date, class: 'govuk-input' %>
    </div>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <div class="govuk-form-group">
      <%= label_tag :end_date, class: 'govuk-label' do %>
        End date
      <% end %>
      <%= date_field_tag :end_date, @event.end_date, class: 'govuk-input' %>
    </div>
  </div>

  <div class="govuk-grid-column-one-half">
    <div class="govuk-form-group">
      <%= label_tag :email, class: 'govuk-label' do %>
        Email
      <% end %>
      <%= text_field_tag :email, @event.email, class: 'govuk-input' %>
    </div>
  </div>
</div>
