<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to '/', class: 'govuk-breadcrumbs__link' do %>Home<% end %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to calendars_path, class: 'govuk-breadcrumbs__link' do %>
        Calendars
      <% end %>
    </li>
  </ol>
</div>

<h1 class="govuk-heading-xl">Calendars</h1>

<% @calendars.group_by(&:team).each do |team, calendars| %>
  <div>
    <h2 class="govuk-heading-l"><%= team.name %></h2>
    <ul class="govuk-list govuk-list--bullet">
      <% calendars.each do |cal| %>
        <li>
          <%= link_to calendar_path(cal), class: 'govuk-link' do %>
            <%= cal.name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
