<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to '/', class: 'govuk-breadcrumbs__link' do %>Home<% end %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to teams_path, class: 'govuk-breadcrumbs__link' do %>
        Teams
      <% end %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to team_path(@calendar.team), class: 'govuk-breadcrumbs__link' do %>
        <%= @calendar.team.name %>
      <% end %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to calendar_path(@calendar), class: 'govuk-breadcrumbs__link' do %>
        <%= @calendar.name %>
      <% end %>
    </li>
  </ol>
</div>

<h1 class="govuk-heading-xl">
  <%= @calendar.name %>
</h1>

<div>
  <% if @calendar.events_editable? %>
    <%= link_to manual_calendar_events_path(@calendar.id), class: 'govuk-button' do %>
      View, add, and edit events
    <% end %>
  <% end %>
</div>

<div>
  <h2 class="govuk-heading-l">Calendar members</h2>
  <ul class="govuk-list govuk-list--bullet">
    <% @team_members.each do |email| %>
      <li>
        <%= link_to "mailto:#{email}", class: 'govuk-link' do %>
          <%= gds_email_fmt(email) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div>
  <h2 class="govuk-heading-l">Schedule</h2>
  <div>
    <%= link_to url_for(all: true), class: 'govuk-button' do %>
      View historical events
    <% end %>
  </div>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Date</th>
        <th class="govuk-table__header">Name</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @events_by_date.each do |date, events| %>
        <tr class="govuk-table__row">
          <th class="govuk-table__header">
            <%= date.strftime '%Y %b %d' %>
          </th>
          <td class="govuk-table__cell">
            <% events.map { |e| e.email }.each_with_index do |email, index| %>
              <% unless index.zero? %><br><% end %>
              <%= link_to "mailto:#{email}", class: 'govuk-link' do %>
                <%= gds_email_fmt(email) %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
