<!DOCTYPE html>
<html>
  <head>
    <title>GDS Who Is On Call</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="shortcut icon"
          href="https://assets.publishing.service.gov.uk/static/favicon.ico"
          type="image/x-icon"/>
  </head>

  <body class="govuk-template__body app-body-class">
    <%= render partial: 'layouts/header' %>

    <div class="govuk-width-container">
      <%= render partial: 'layouts/phase' %>
      <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
