<!DOCTYPE html>
<html>
  <head>
    <title>GDS Rotas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload', integrity: true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', integrity: true %>

    <meta name="theme-color" content="#0b0c0c">

    <link rel="shortcut icon"
          href="<%= image_path('images/favicon') %>"
          type="image/x-icon"/>
  </head>

  <body class="govuk-template__body app-body-class">
    <%= render partial: 'layouts/header' %>

    <div class="govuk-width-container">
      <%= render partial: 'layouts/phase' %>

      <% if flash[:alert] %>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            <%= flash[:alert] %>
          </strong>
        </div>
      <% end %>

      <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
